@layout LogInLayout
@page "/error"
@page "/error/{ErrorCode}"
 @using Microsoft.AspNetCore.Authorization
 @using Microsoft.AspNetCore.Components.Authorization
 @using System.Security.Claims;
 @using Blazored.SessionStorage;
 @using PortalDePedidosModel;
 @using PortalDePedidos;
 @using PortalDePedidos.Extensiones;
 @using System.Timers
 @using PortalDePedidosShared.IngresoPedidosVM
 @using PortalDePedidosShared.ImagenesAleatoriasVM
 @using PortalDePedidosService

@inject NavigationManager Navigation
@inject AuthenticationStateProvider autenticacionProvider
@inject ISessionStorageService _sessionStorageService;
@inject LogInClienteService _loginService

<div class="container text-center mt-5">
    
            <div class="display-1 text-danger">⚠️</div>
            <h1 class="mt-4">Ups! Algo fall&oacute;.</h1>
            <p class="lead ">
                @if (!string.IsNullOrEmpty(ErrorCode))
                {
                    <span>C&oacute;digo de error: @ErrorCode</span>
                }
                else
                {
                    <span>Ocurri&oacute; un error desconocido.</span>
                }
            </p>
            <div class="mt-4">
                <button class="btn btn-primary" @onclick="CerrarSesion">Volver</button>
                <!--<button class="btn btn-secondary" @onclick="ReloadPage">Recargar</button>-->
            </div>
        
</div>

@code {
    [Parameter]
    public string ErrorCode { get; set; }

    private void NavigateBack()
    {
        Navigation.NavigateTo("/Home");
    }

    private void ReloadPage()
    {
        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    }
    private async Task CerrarSesion()
    {
        //await _sessionStorageService.GuargarStorage("UltimoUsuario", sesion.NombreUsuario);
        var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
        await autenticacionExt.ActualizarEstadoAutenticacion(null);
        //await _loginService.Logout(sesion.Token);
        Navigation.NavigateTo("/");
    }
}
