@page "/Home"
 @using Microsoft.AspNetCore.Authorization
 @using Microsoft.AspNetCore.Components.Authorization
 @using PortalDePedidos.Extensiones
 @using PortalDePedidosShared.ImagenesAleatoriasVM
 @using PortalDePedidosService
@attribute [Authorize]
@inject ImagenCarruselClienteService _imagenService
@inject IJSRuntime js


<div class="card">
    <div class="card-body">

        <div id="carouselExampleIndicators" class="carousel slide carousel-custom" data-bs-ride="carousel">
            

            <div class="carousel-indicators">
                @for (var i = 0; i < imagenVM.Count; i++)
                {
                    @if (i == 0)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    }
                    else
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide 2"></button>
                    }
                }
            </div>

            <div class="carousel-inner">
                
                @foreach (var item in imagenVM)
                {
                    @if (imagenVM.First() == item)
                    {

                        <div class="carousel-item active">
                            <img class="d-block w-100 img-fluid carousel-img" src="@($"data:image/png;base64,{item.Codigo}")" alt="slide" loading="lazy" />
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item ">
                            <img class="d-block w-100 img-fluid carousel-img" src="@($"data:image/png;base64,{item.Codigo}")" alt="slide" loading="lazy" />
                        </div>
                    }
                }
            </div>


            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
@code {
    public List<ImagenCarruselVM> imagenVM = new();

    protected override async Task OnInitializedAsync()
    {
        imagenVM = await _imagenService.GetAll();
    }
}
