 @inherits LayoutComponentBase

<div class="login-page" style="min-height: 466px;background-image:url('/imagenes/portada cemento truncado.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;">
 @Body
</div>
@code {

}
