@using PortalDePedidos.Extensiones
@inject AppSettings _appSettings
<footer class="main-footer">
    <strong>Por temas comerciales: </strong>
    pcrcomercialcrd@pcr.energy
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>Por temas de cuenta corriente: </strong>
    cc_cr@pcr.energy
    <div class="float-right d-none d-sm-inline-block">
        @_appSettings.Version 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.
    </div>
</footer>
@code {

}
